<h1> <%= @user.name %> </h1>
<h2> Your Birthday is <%= @user.date.strftime("%B %d, %Y") %> </h2>

<% if @user.birthday? %>
  <h1> Happy Birthday! </h1>
<% else %>
  <h1> <%= @user.days_left %> </h1>
<% end %>